@import "./partials/reset";
@import "./partials/typography";
@import "./mixins/flex.scss";
@import "./mixins/buttons.scss";

/* Navigation Bar */
html {
  scroll-behavior: smooth;
}
nav {
  @include flexbox(flex, row);
  justify-content: space-around;
  font-family: $font-family-primary;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  padding: 1%;
  box-shadow: 0 3px 24px rgba(108, 108, 108, 0.11);
  background-color: #fff;
  z-index: 1;
  #logo {
    text-decoration: none;
    font: {
      size: $font-size-large;
      weight: $font-weight-bold;
    }
    color: $primary-color;
    #fundsBannerText {
      color: $green-color;
    }
  }
  ul {
    list-style-type: none;
    font-size: $font-size-large;
    width: 50%;
    @include flexbox(flex, row);
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $navbar-color;
    }
  }
  .btn-contact-us {
    background-color: $primary-color;
    color: #fff;
    @include button;
  }
}
/* End of Navigation Bar */

/*Hero Section*/
#hero-section {
  height: 100vh;
  @include flexbox(flex, row);
  align-items: center;
  justify-content: space-around;
  .hero-section-textContent {
    width: 40%;
    margin-left: 10%;
    h2 {
      color: $primary-color;
      margin-bottom: 5%;
      font: {
        size: $font-size-larger;
        family: $font-family-Raleway;
        weight: $font-weight-bold;
      }
    }
    .headingText {
      font: {
        size: $font-size-base;
        weight: $font-weight-normal;
        family: $font-family-primary;
      }
      color: $text-color;
      margin-bottom: 5%;
    }
    .btn-get-started {
      @include button;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  .hero-section-image {
    flex-basis: 50%;
    margin-right: 10%;
    img {
      max-width: 100%;
    }
  }
}
/*End of Hero Section*/

/*Our Services*/
#services {
  height: 100vh;
  padding: 3%;
  @include flexbox(flex, column);
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    100.33deg,
    rgba(201, 228, 222, 0.6) -36.88%,
    rgba(206, 228, 224, 0.463495) 21.99%,
    rgba(208, 228, 224, 0.414385) 30.82%,
    rgba(223, 227, 231, 0) 102.68%
  );
  h2 {
    text-align: center;
    font: {
      family: $font-family-Raleway;
      weight: $font-weight-bold;
      size: $font-size-larger;
    }
    color: $primary-color;
  }
  .loanCards {
    @include flexbox(flex, row);
    justify-content: space-between;
    padding: 3%;
    margin-top: 5%;
    .card {
      flex-basis: 32%;
      text-align: center;
      padding: 3%;
      background: rgba(240, 241, 243, 0.2);
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
      border-radius: 38px;
      p {
        font: {
          size: $font-size-base;
          weight: $font-weight-normal;
          family: $font-family-primary;
        }
        color: $text-color;
        margin-bottom: 5%;
      }
      h5 {
        font: {
          family: $font-family-Raleway;
          size: $font-size-large;
          weight: $font-weight-bold;
        }
      }
      * {
        margin-top: 2%;
      }
      button {
        @include button;
        font: {
          family: $font-family-primary;
        }
        border: 2px solid rgba(42, 104, 119, 0.49);
        border-radius: 50px;
        color: $primary-color;
        font-weight: $font-weight-bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .viewMoreBtn {
    @include button;
    background-color: $primary-color;
    border-radius: 50px;
    color: #fff;
    padding: 12px 60px;
    &:hover {
      cursor: pointer;
    }
  }
}
/*End of Our Services*/

/*How we Work Section*/
#how-we-work {
  height: auto;
  padding-top: 5%;
  h2 {
    text-align: center;
    font-family: $font-family-Raleway;
    color: $primary-color;
    font-weight: $font-weight-bold;
    font-size: $font-size-larger;
  }
  p {
    font: {
      size: $font-size-base;
      weight: $font-weight-normal;
      family: $font-family-primary;
    }
    color: $text-color;
    margin-bottom: 5%;
    text-align: center;
  }
  .workContainer {
    @include flexbox(flex, row);
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    width: 80%;
    margin: auto;
    .workTextContainer {
      width: 50%;
      position: relative;
      img {
        position: absolute;
        top: -8%;
        left: -7%;
        width: 90px;
      }
      h3 {
        font-family: $font-family-Raleway;
        color: $primary-color;
        font-weight: $font-weight-bold;
        font-size: $font-size-large;
      }
      * {
        margin-bottom: 4%;
        text-align: left;
      }
    }
  }
}
/*End of How we Work Section*/

/*About Us Section*/
#about-us {
  height: 100vh;
  padding: 5%;
  background: linear-gradient(
    100.33deg,
    rgba(201, 228, 222, 0.6) -36.88%,
    rgba(206, 228, 224, 0.463495) 21.99%,
    rgba(208, 228, 224, 0.414385) 30.82%,
    rgba(223, 227, 231, 0) 102.68%
  );
  h2 {
    text-align: center;
    font: {
      family: $font-family-Raleway;
      weight: $font-weight-bold;
      size: $font-size-larger;
    }
    color: $primary-color;
  }
  .container-about-us {
    @include flexbox(flex, row);
    justify-content: space-around;
    align-items: center;
    .imageContainer {
      flex-basis: 50%;
      p {
        font: {
          size: $font-size-base;
          weight: $font-weight-normal;
          family: $font-family-primary;
        }
        color: $text-color;
        margin-bottom: 5%;
        text-align: left;
      }
    }
    form {
      @include flexbox(flex, column);
      flex-basis: 30%;
      height: 500px;
      background: #ffffff;
      padding: 45px 47px;
      border-radius: 21px;
      input {
        border-radius: 21px;
        padding: 10px;
        border: 1px solid grey;
        outline-color: none;
      }
      button {
        @include button;
        color: #fff;
        background-color: $primary-color;
        width: 40%;
        margin: auto;
      }
      * {
        font: {
          family: $font-family-Raleway;
          weight: $font-weight-normal;
        }
      }
    }
  }
}
/*End of About Us Section*/

/*Footer Section*/
#contact-us {
  height: auto;
  background: {
    image: url(https://res.cloudinary.com/dogmqg8to/image/upload/v1687154323/20560797_hexa_dan_wave_10_ciajtr.jpg);
    position: center center;
    size: cover;
    filter: blur(4px);
  }
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  color: #fff;
  padding: 3%;
  font-family: $font-family-Raleway;
  @include flexbox(flex, row);
  align-items: center;
  justify-content: space-around;
  .left-title-content {
    * {
      margin-bottom: 10%;
    }
    .fab {
      font-size: $font-size-large;
      margin-right: 5%;
    }
    h5 {
      font-weight: $font-weight-bold;
      font-size: $font-size-large;
    }
    #funds {
      color: $green-color;
    }
  }
  .right-content {
    h5 {
      font-size: $font-size-large;
    }
    @include flexbox(flex, row);
    justify-content: space-between;
    flex-basis: 30%;
    .services-container {
      * {
        margin-bottom: 10%;
      }
    }
  }
  .contact-us-container {
    width: 45%;
    * {
      margin-bottom: 5%;
    }
    .fas {
      margin-right: 2%;
    }
  }
}

/*End of Footer Section*/
