// Font families
$font-family-primary: 'DM Sans', 'sans-serif';
$font-family-Raleway: 'Raleway', 'sans-serif';
$font-family-Poppins: 'Poppins', 'sans-serif';

// Font sizes
$font-size-base: 18px;
$font-size-large: 24px;
$font-size-small: 14px;
$font-size-larger:45px;

// Font weight
$font-weight-normal:400;
$font-weight-bold:700;

// colors
$primary-color: #2a6877;
$text-color: #6f6969;
$navbar-color: #494E4F;
$green-color: #39C260;